.search-forms { margin: 0 0 3px; border-bottom: 10px solid #81A0D3; }
.search-form { display: none; }
.search-form.active { display: block; }
.search-input { float: left; border: 0; width: 75%; height: 35px; }
.search-btn { float: right; padding: 0; margin: 0; border: 0; width: 25%; height: 35px; }
.search-option {
    margin: 0 0 3px;
    vertical-align: middle;
    border: 0;
    width: 33.3%;
    list-style: none;
    display: inline-block;
    text-align: center;
    background-color: #eee;
}
.search-option { text-shadow: 1px 1px 0 #fff; }
.search-option,
.search-option a { color: #333; }
.search-option a { display: block; padding: 13% 0; text-decoration: none; }
.search-option i { font-size: 24px; }
.search-option.active { background-color: #ddd; box-shadow: 0 0 30px #ccc inset; }
.search-option-web i,
.search-form-web i {
    color: #81A0D3;
}
.search-option-news i,
.search-form-news i {
    color: #79C7F0;
}
.search-option-images i,
.search-form-images i {
    color: #B97FB1;
}
.search-option-persons i,
.search-form-persons i {
    color: #84C28A;
}
.search-option-companies i,
.search-form-companies i {
    color: #F6C07A;
}
.search-option-places i,
.search-form-places i {
    color: #E98B93;
}
.search-option-travel i,
.search-form-travel i {
    color: #EB8769;
}
.search-option-food i,
.search-form-food i {
    color: #8472B1;
}
.search-option-phonenrs i,
.search-form-phonenrs i {
    color: #CADD8A;
}
.search-option-videos i,
.search-form-videos i {
    color: #C44043;
}
.search-option-tvguide i,
.search-form-tvguide i {
    color: #AC8D74;
}
.search-option-social i,
.search-form-social i {
    color: #61B0B3;
}

.colors-preview li { display: inline-block; width: 6%; padding: 4px 0; text-align: center; }
