<!doctype html>
<html ng-app="omniApp">
<head>
    <title>OMNI</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="src/css/app.css">
    <script src="src/js/js_top.js"></script>
</head>
<body>
    <div ng-controller="doSearchController">
        <form ng-submit="doSearch()" class="search-form search-form-engine clearfix">
            <input ng-model="searchInput" ng-change="showOnLoad = false" type="text" class="search-input" placeholder="Search">
            <button class="btn search-btn"><i class="icon-search"></i></button>
        </form>
        <div ng-show="showOnLoad">
            <p>Type the name of the service you'd like to search on and then what you'd like to search for...</p>
        </div>
        <ul class="engines-list">
            <li ng-repeat="engine in (filteredEngines = (engines | filter:searchInput))" class="engines-list-item">
                {{engine.name}}
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="src/js/js_bottom.js"></script>
</body>
</html>
