@import "variables";

body { background-color: $slategray; color: $gray; font-family: "Lucida Grande", Arial, sans-serif; padding: 50px; }
p, form { margin-bottom: 15px; }
p { color: $yellow; }
.engines-list-item { display: inline-block; margin-right: 10px; }
