@import "variables";

body { background-color: $slategray; color: $gray; font-family: "Lucida Grande", Arial, sans-serif; padding: 50px; }
p { margin-bottom: 15px; color: $graylight; }
form { margin-bottom: 20px; }
.engines-list-item { display: inline-block; margin-right: 10px; }
