@import "variables";

@font-face {
  font-family: 'DobraMedium';
  src: url('#{$fontsPath}/dobra-medium-DobraMedium.eot');
  src: url('#{$fontsPath}/dobra-medium-DobraMedium.eot?#iefix') format("embedded-opentype"), url('#{$fontsPath}/dobra-medium-DobraMedium.woff') format("woff"), url('#{$fontsPath}/dobra-medium-DobraMedium.ttf') format("truetype"), url('#{$fontsPath}/dobra-medium-DobraMedium.svg#DobraMedium') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DobraSlabMedium';
  src: url('#{$fontsPath}/dobraslab-medium-DobraSlab.eot');
  src: url('#{$fontsPath}/dobraslab-medium-DobraSlab.eot?#iefix') format("embedded-opentype"), url('#{$fontsPath}/dobraslab-medium-DobraSlab.woff') format("woff"), url('#{$fontsPath}/dobraslab-medium-DobraSlab.ttf') format("truetype"), url('#{$fontsPath}/dobraslab-medium-DobraSlab.svg#DobraSlabMedium') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DobraBook';
  src: url('#{$fontsPath}/dobra-book-DobraBook.eot');
  src: url('#{$fontsPath}/dobra-book-DobraBook.eot?#iefix') format("embedded-opentype"), url('#{$fontsPath}/dobra-book-DobraBook.woff') format("woff"), url('#{$fontsPath}/dobra-book-DobraBook.ttf') format("truetype"), url('#{$fontsPath}/dobra-book-DobraBook.svg#DobraBook') format("svg");
  font-weight: normal;
  font-style: normal;
}

.wf-active .dobra-medium {
  font-family: 'DobraMedium', arial, sans-serif;
}
.wf-active .dobra-slabmedium {
  font-family: 'DobraSlabMedium', arial, sans-serif;
}
.wf-active .dobra-book {
  font-family: 'DobraBook', arial, sans-serif;
}

.wf-loading .dobra-medium {
  font-family: arial, sans-serif;
}
.wf-loading .dobra-slabmedium {
  font-family: arial, sans-serif;
}
.wf-loading .dobra-book {
  font-family: arial, sans-serif;
}

.wf-inactive .dobra-medium {
  font-family: arial, sans-serif;
}
.wf-inactive .dobra-slabmedium {
  font-family: arial, sans-serif;
}
.wf-inactive .dobra-book {
  font-family: arial, sans-serif;
}

.dobra-medium {
  font-family: 'DobraMedium', arial, sans-serif;
}

.dobra-slabmedium {
  font-family: 'DobraSlabMedium', arial, sans-serif;
}

.dobra-book {
  font-family: 'DobraBook', arial, sans-serif;
}

// font awesome - for icons
@import "font-awesome";